* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased; /* For Safari, Chrome, and newer Firefox */
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Syne", sans-serif;
  font-family: "Work Sans", sans-serif;
  background: #0f0f0f;
  color: #fff;
}

/* Style links */
a {
  text-decoration: none;
  color: #ffffff; /* Link color */
}

a:hover {
  text-decoration: underline; /* Underline links on hover */
}
p {
  margin: 0;
  padding: 0;
}
nav {
  background: transparent !important;
  color: #fff !important;
}
